---
import { type CollectionEntry, getCollection } from 'astro:content'
import BaseHead from '../../libs/blog/BaseHead.astro'
import PageLayoutWithHeader from '../../libs/shared/components/PageLayoutWithHeader/PageLayoutWithHeader'
import PageSection from '../../libs/shared/components/PageSection/PageSection'
import BackButton from '../../libs/blog/BackButton.astro'
import BlogDetailHeaderSection from '../../libs/blog/BlogDetailHeaderSection.astro'

export async function getStaticPaths() {
  const collections = await getCollection('collection')
  return collections.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }))
}
type Props = CollectionEntry<'collection'>

const post = Astro.props

if (!post) {
  return Astro.redirect('/404')
}

const { Content, remarkPluginFrontmatter, headings } = await post.render()

const { title, description, pubDate, updatedDate } = post.data
---

<!doctype html>
<html lang="en">
  <head> <BaseHead title={title} description={description} /></head>

  <body data-headings={{ headings }}>
    <PageLayoutWithHeader
      title="yongwoo"
      shouldRenderHeader
      client:idle
      pageTitle={title}
    >
      <PageSection title={title} disableTitleMarginBottom>
        <BlogDetailHeaderSection
          pubDate={pubDate}
          updatedDate={updatedDate}
          minutesRead={remarkPluginFrontmatter.minutesRead}
        />
        <Content />
        <BackButton />
      </PageSection>
    </PageLayoutWithHeader>
    <script is:inline define:vars={{ headings }}></script>
  </body>
</html>
