---
import BaseHead from '../libs/blog/BaseHead.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts'
import PageLayoutWithHeader from '../libs/shared/components/PageLayoutWithHeader/PageLayoutWithHeader'
import PageSection from '../libs/shared/components/PageSection/PageSection'
import { getCollection } from 'astro:content'
import BlogList from '../libs/blog/BlogList.astro'
import HomeHero from '../libs/home/HomeHero.astro'

const { pathname } = Astro.url
const subpath = pathname.match(/[^\/]+/g)
const baseHref = '/'
const isHome = baseHref === pathname || baseHref === '/' + subpath?.[0]

const posts = (await getCollection('post')).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
)

const notes = (await getCollection('note')).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
)

const collections = (await getCollection('collection')).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
)

if (!posts || !notes || !collections) {
  return Astro.redirect('/404')
}
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <PageLayoutWithHeader title="yongwoo" client:idle isHomePage={isHome}>
      <PageSection disableTitleMarginBottom>
        <HomeHero />
        <BlogList items={posts} title="posts" pathName="post" />
        <BlogList items={notes} title="scribbled notes" pathName="note" />
        <BlogList
          items={collections}
          title="collections"
          pathName="collection"
        />
      </PageSection>
    </PageLayoutWithHeader>
  </body>
</html>
