---
import { type CollectionEntry, getCollection } from 'astro:content'
import BaseHead from '../../libs/blog/BaseHead.astro'
import PageLayoutWithHeader from '../../libs/shared/components/PageLayoutWithHeader/PageLayoutWithHeader'
import PageSection from '../../libs/shared/components/PageSection/PageSection'
import BackButton from '../../libs/blog/BackButton.astro'
import BlogDetailHeaderSection from '../../libs/blog/BlogDetailHeaderSection.astro'

export async function getStaticPaths() {
  const notes = await getCollection('note')
  return notes.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }))
}
type Props = CollectionEntry<'note'>

const post = Astro.props

if (!post) {
  return Astro.redirect('/404')
}

const { Content, remarkPluginFrontmatter, headings } = await post.render()

const { title, description, pubDate, updatedDate } = post.data
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
    <style lang="scss">
      @import 'src/styles/utils';

      .section {
        position: relative;
        margin-top: 24px;
        margin-bottom: 48px;
      }

      .date {
        height: 14px;
        display: flex;
        align-items: center;
        gap: 4px;
        color: $color-gray03;
        font-size: 14px;
        font-weight: 400;

        & > .image {
          padding-right: 4px;
        }
      }

      .image {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 14px;
        height: 14px;
      }
    </style></head
  >

  <body data-headings={{ headings }}>
    <PageLayoutWithHeader
      title="yongwoo"
      shouldRenderHeader
      client:idle
      pageTitle={title}
    >
      <PageSection title={title} disableTitleMarginBottom>
        <BlogDetailHeaderSection
          pubDate={pubDate}
          updatedDate={updatedDate ?? new Date()}
          minutesRead={remarkPluginFrontmatter.minutesRead}
        />
        <Content />
        <BackButton />
      </PageSection>
    </PageLayoutWithHeader>
    <script is:inline define:vars={{ headings }}></script>
  </body>
</html>
